<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	
	<bean id="sqlSessionFactory" class="com.codefarm.mybatis.orm.ActiveSQLSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis/configuration.xml" />
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.codefarm.mybatis.orm.model"></property>
		<property name="mapperLocations" value="classpath*:mybatis/mappers/*.xml" />
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.codefarm.mybatis.orm.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 配置多级缓存 -->
	<bean id="cacheManager" class="com.codefarm.cache.manager.HierarchicalCacheManager" init-method="initCacheProvider">
		<property name="configFile" value="classpath:cache.properties"></property>
	</bean>
	
	<!-- 使用annotation定义事务
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
	 -->
	<beans profile="test">
		<!-- 定义受环境影响易变的变量 -->
		<context:property-placeholder ignore-resource-not-found="false" location="classpath*:/database.properties" />

		<!-- Simple连接池 -->
		<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
			<property name="driverClass" value="${jdbc.driver}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />	
		</bean>
		
		<!-- 初始化数据表结构 与默认数据-->
        <!-- <jdbc:initialize-database data-source="dataSource">
                <jdbc:script location="classpath:sql/h2.create.sql" encoding="UTF-8"/>
        </jdbc:initialize-database> -->
	</beans>
</beans>